<div class="image">

</div>

<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark"> -->
    <nav class="navbar navbar-expand-sm custom-navbar navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/personaldetailslist" routerLinkActive="active" class="nav-link" style="color: black;">
                <b>Personal-details List</b></a>
        </li>

        <li class="nav-item">
            <a routerLink="/createpersonaldetails" routerLinkActive="active" class="nav-link" style="color: black;margin-left: 20px;">
               <b> Add Personal-details</b></a>

        </li>

        <li class="nav-item">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link" style="color: black;margin-left: 20px;">
               <b>Go Back</b></a>

        </li>

    </ul>

</nav>
<h1 style="text-align: center; margin-top: 98px;">Welcome to Personal-details service</h1>
