.image {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210324/pngtree-abstract-playful-portfolio-pink-memphis-image_593415.jpg');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
    width: 100%;
    filter: blur(0px);
    /* Apply the blur effect */
    z-index: -6;
    /* Place the element behind the content */
    content: "";
}

/* Custom class for the red background color */
.custom-navbar {
    background-color:palevioletred;
}

/* Style for the active link */
.nav-link.active {
    background-color:plum;
    color: white; /* Change the text color to white for better contrast */
}
