


.example-spacer {
     display: flex;
     flex: 1 1 auto;
     justify-content: space-between;
  
}
.example-spacer-nav{
    display: flex;
    justify-content: space-between;
    margin-right:10%;
    
}







