<div class="bootstrap-wrapper outer-image">
    <div class="container margin-top ">
        <div class="row">
            <div class="container">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                
                <img class="img-fluid" style="width: 120px;margin-left: 20%;"
                    src="https://www.nicepng.com/png/detail/218-2189913_register-here-icon-png.png">
                   
                </div>
                
           
            
            <!-- created form -->
            <form (ngSubmit)="registerUser()" style="width:auto;">
                <br>
                <mat-form-field class="full-width">

                    <mat-label> First-Name</mat-label>
                    <input [(ngModel)]="user.name" name="name" required type="text" matInput
                        [(ngModel)]="user.name" required #name="ngModel"
                        [class.isInvalid]="name.invalid && name.touched">
                    <small class="text-danger" [class.d-none]="name.valid || name.untouched">firstname is
                        required</small>

                </mat-form-field>
                <br>
            


                <mat-form-field class="full-width">
                    <mat-label>Email-Id</mat-label>
                    <input [(ngModel)]="user.email" name="email" required type="email" matInput [(ngModel)]="user.email"
                        required #emailid="ngModel" [class.isInvalid]="emailid.invalid && emailid.touched">
                    <small class="text-danger" [class.d-none]="emailid.valid || emailid.untouched">email-id is
                        required</small>

                </mat-form-field>
                <br>

                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input [(ngModel)]="user.password" name="password" required type="password" matInput
                        [(ngModel)]="user.password" #password="ngModel" required
                        [class.isInvalid]="password.invalid && password.touched">
                    <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is
                        required</small>

                </mat-form-field>
                <br>
                

                <!-- creating button -->
               
                   
                    <button type="submit" class="btn btn-info" style="margin-left: 100%;">Register</button>


                
            </form>
        </div>
    </div>