.full-width {
    width: 100%;
}

.body {
    background-image: url('https://t3.ftcdn.net/jpg/03/99/24/82/360_F_399248286_Ogm0T8CFeauN4Hdn42FqWfsCE02dJBbX.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100;
}



mat-form-field,
button {
    margin-right: 10px;
    margin-bottom: 0px;
}

